//---------------------------------------------------------------------------
//
// Name:        Project1App.rc
// Author:      user
// Created:     6/18/2012 10:18:00 AM
// Description: 
//
//---------------------------------------------------------------------------

#ifdef _WIN64
#define WX_CPU_AMD64
#endif

#include <wx/msw/wx.rc>
